.projects {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: 33.33vw 33.33vw 33.33vw;
  grid-auto-rows: 22vw 22vw;
  background: repeating-linear-gradient(
    -45deg,
    #757de8,
    #757de8 20px,
    #3f51b5 20px,
    #3f51b5 40px
  );
}

@media (max-width: 955px) {
  .projects {
    grid-template-columns: 50vw 50vw;
    grid-auto-rows: 33.33vw 33.33vw;
  }
}

@media (max-width: 660px) {
  .projects {
    grid-template-columns: 100vw;
    grid-auto-rows: 66.33vw;
  }
}